* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

.burger-svg {
    height: 24px;
    left: 20px;
    position: absolute;
    width: 24px;
    top: 20px;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
    padding-bottom: 60%;
    position: relative;
}

.bukit-svg {
    width: 100%;
    fill: #4c7397;
    transform: scaleX(1.6);
    position: absolute;
    top: 87%;
}

h3 {
    padding: 10px;
}

h1 {
    font-size: 16px;
}

.artikel h1 {
    font-size: 24px;
}

.kartu-artikel > *:not(img) {
    margin: 10px 0;
}

.selamat-datang h1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-right: 0%;
}

.artikel h1 {
    margin: 5%;
}

.container-menu {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

img {
    max-width: 100%;
    max-height: calc(100% - 64px);
    width: auto;
    display: block;
}

h2 {
    font-size: 24px;
    font-weight: 100;
}

.awan-svg {
    fill: #ffffff;
    position: absolute;
}

.awan-1 {
    top: 20%;
    left: -10%;
    width: 25%;
    z-index: -1;
}

.awan-2 {
    top: 50%;
    right: -10%;
    width: 30%;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#b0d7db, white);
    z-index: -5;
}

.pohon-1 > svg {
    transform: translateY(-30px);
    left: 20%;
    width: 80px;
}

.pohon-2 > svg {
    transform: translateY(-80px);
    left: 45%;
    width: 80px;
}

.pohon-3 > svg {
    transform: translateY(-48px);
    left: 65%;
    width: 80px;
}

.segitiga-pohon {
    fill: #b2e25a;
    width: 30%;
    position: absolute;
    z-index: -1;
}

.segitiga-pohon:nth-child(1) {
    bottom: 100px;
}

.segitiga-pohon:nth-child(2) {
    bottom: 60px;
}

.segitiga-pohon:nth-child(3) {
    bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

a.active {
    color: #478ac9;
}

.selamat-datang {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    z-index: 1;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    text-align: center;
}

section h1,
section h2 {
    margin: 0;
}

.tantangan .konten {
    position: relative;
}

.tantangan {
    position: relative;
}

.tantangan-background {
    background-image: url(/assets/WhatsApp\ Image\ 2023-09-24\ at\ 08.10.30.jpeg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
}

.rumah {
    fill: #4c7397;
    width: 40%;
}

.container-rumah {
    width: 75%;
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: center;
}

.bendera {
    fill: #779bb2;
    position: absolute;
    width: 20%;
    bottom: 80%;
    left: 50%;
    z-index: -1;
}

.konten p {
    font-family: Raleway, sans-serif;
}

.container-menu {
    background: white;
    height: 100vh;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 3;
    padding: 10%;
}

ul {
    list-style: none;
}

.tutup {
    border: none;
    background: none;
    float: right;
    font-size: 28px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.background-menu {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.tutup::before {
    content: "\2715";
}

li {
    padding: 5%;
}

.artikel {
    background: #4c7397;
    color: white;
    padding-top: 10px;
}

.layanan {
    margin-top: -2px;
    color: white;
    background: linear-gradient(#4c7397, #adcce9);
}

.tips {
    padding-top: 0;
    margin-top: -2px;
    color: black;
    background-image: linear-gradient(#adcce9, #eafdfc);
}

.tips > * {
    margin: 10px;
}

.komunitas {
    background-image: linear-gradient(#b0d7db, #808080);
}

footer {
    align-items: center;
    background: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

footer > img {
    margin: 5% 0;
}

.komunitas-container {
    background: white;
    padding: 10%;
}

.komunitas-container h1 {
    color: #425465;
}

.tantangan p {
    margin: 5%;
}

.artikel h1 {
    letter-spacing: 5px;
}

.container-kartu-artikel > .kartu-artikel {
    margin: 10px 0;
}

.layanan h1,
.artikel h1 {
    text-decoration: underline;
}

.tips h1,
.layanan h1 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.kartu-artikel {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.artikel h2 {
    font-size: 16px;
    font-weight: 700;
}

.artikel a {
    border: 2px solid;
    padding: 10px;
    width: 70%;
}

.kartu-artikel {
    width: 100%;
}

.artikel {
    padding-left: 0;
    padding-right: 0;
}

.artikel .kartu-artikel:nth-child(even) {
    background: linear-gradient(#e9f2fa, #4c7397);
}

.layanan .kartu-layanan {
    color: #4c7397;
    background: #e9f2fa;
}

.layanan .kartu-layanan {
    margin: 10% 0;
    padding: 10px;
}   



.kartu-layanan h2 {
    font-weight: 700;
}

.layanan h1 {
    padding: 5px;
    font-size: 24px;
}

.kartu-layanan p {
    color: #111111;
}

.tips h1 {
    font-size: 20px;
}

.tips h2 {
    font-size: 16px;
}

.komunitas-container > * {
    margin: 10px 0;
}

.komunitas h2 {
    margin: 10%;
}
.komunitas a {
    color: white;
    background: #4c7397;
    padding: 10px;
}
.container-kartu-artikel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.album {
    display: flex;
    flex-wrap: wrap;
}

.album > * {
    flex-basis: 348px;
    flex-grow: 1;
    margin: 10px;
    min-width: 348px;
}

footer img {
    margin: 0;
    margin-bottom: 10px;
}

.komunitas h1 {
    font-size: 36px;
}

footer h2 {
    margin: 0;
    margin-bottom: 5%;
}

.kartu-artikel {
    min-width: 375px;
    flex-basis: 375px;
    flex-grow: 1;
}

.kartu-artikel img {
    height: 270px;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.kartu-artikel > p, .kartu-artikel h2 {
    padding: 10px;
}

.container-layanan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.container-layanan .kartu-layanan {
    margin: 10px;
    flex-grow: 1;
    flex-basis: 33%;
}

.layanan {
    padding: 0%;
    padding-bottom: 5%;
}

.kartu-layanan a {
    font-weight: 700;
}

footer {
    padding: 10%;
}

.card-tips img {
    max-height: none;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .kartu-artikel h2 {
        font-size: 24px;
    }
    .kartu-artikel p {
        font-size: 18px;
    }
    .kartu-layanan a {
        font-size: 48px;
    }
    .kartu-layanan p {
        font-size: 24px;
    }
    .container-layanan {
        flex-direction: row;
    }
    .container-layanan .kartu-layanan {
        max-width: 33%;
    }
    .tips h1 {
        font-size: 64px;
    }

    .tips h2 {
        font-size: 24px;
    }

    .komunitas h1 {
        font-size: 72px;
    }
    .artikel .container-kartu-artikel {
        flex-direction: row;
    }
    .artikel h1 {
        font-size: 36px;
    }
    .container-rumah {
        width: 45%;
        bottom: 10%;
    }
    .layanan h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
        margin-left: 25%;
    }
    .container-menu {
        background: none;
        display: block;
        padding: 0;
        position: static;
        width: auto;
    }
    .tutup {
        display: none;
    }
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    .awan-1 {
        width: 25%;
    }
    .burger-svg {
        display: none;
    }

    a {
        font-size: 16px;
    }

    li {
        padding: 30px;
    }

    .pohon-1 > svg {
        left: 30%;
    }

    h1 {
        margin-right: 25%;
    }

    header {
        padding-bottom: 25%;
    }

    nav {
        position: absolute;
        top: 0;
    }

    img {
        max-width: 50%;
    }

    .tantangan {
        padding: 5%;
    }

    .tantangan .konten {
        font-size: 32px;
    }
}

@media screen and (min-width: 1366px) {
    .container-rumah {
        width: 25%;
        bottom: 10%;
    }
    .pohon-1 > svg {
        left: 30%;
    }

    h1 {
        font-size: 36px;
    }
    header {
        padding-bottom: 12%;
    }
    img {
        max-width: 70%;
    }

    .tantangan {
        padding-bottom: 20%;
    }

    .tantangan-background {
        background-image: url(/assets/WhatsAppImage2023-09-20at14.25.133.jpeg);
        width: 70%;
        opacity: 1;
        margin-left: 25%;
    }

    .tantangan .konten {
        margin-right: 50%;
        font-size: 24px;
    }
}

@media screen and (min-width: 1920px) {
    a {
        font-size: 16px;
    }
    .pohon-1 > svg {
        left: 30%;
    }
    .pohon-2 > svg {
        transform: translateY(-100px);
        left: 45%;
        width: 80px;
    }
    h1 {
        margin-right: 0;
        font-size: 36px;
    }
    h2 {
        font-size: 32px;
    }
    header {
        padding-bottom: 10%;
    }
    img {
        max-width: 50%;
    }

    h2 {
        margin-left: 0;
    }
}
